* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

.scrollupicon {
  position: relative; }
  .scrollupicon img {
    position: fixed;
    transition: 1000;
    bottom: 15px;
    right: 15px;
    margin: 0px;
    padding: 10px 25px;
    z-index: 1;
    width: 100px; }
    @media (min-width: 768px) {
      .scrollupicon img {
        width: 100px; } }
    @media (min-width: 1200px) {
      .scrollupicon img {
        width: 125px; } }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

header {
  background-color: #09283a;
  padding: 15px; }
  @media (min-width: 1200px) {
    header .form-control {
      width: 80%; } }
  @media (min-width: 1600px) {
    header .form-control {
      width: 60%; } }
  header #input::placeholder {
    opacity: 0; }
    @media (min-width: 840px) {
      header #input::placeholder {
        opacity: 1; } }
  header .logoImage {
    height: auto;
    width: 100%; }
    @media (min-width: 768px) {
      header .logoImage {
        width: 80%; } }
    @media (min-width: 992px) {
      header .logoImage {
        width: 60%; } }
    @media (min-width: 1200px) {
      header .logoImage {
        width: 50%; } }
  header i {
    color: white;
    font-size: 2rem; }
  header i:hover {
    cursor: pointer; }
  header .number {
    color: #ffce54;
    font-size: 1,5rem; }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

nav .navbar-nav {
  padding: 0;
  margin: 0;
  font-size: 1.3rem; }
  nav .navbar-nav .nav-item {
    padding: 9px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative; }
  nav .navbar-nav .nav-item::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #09283a; }
  nav .navbar-nav .nav-item-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0; }
  nav .navbar-nav .nav-item-fade-up:hover::before {
    bottom: 11px;
    opacity: 1; }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 235px; }

.footer {
  position: absolute;
  bottom: 0;
  height: 235px;
  padding-top: 15px;
  background-color: #09283a;
  color: white; }
  .footer img {
    width: 125px;
    margin-bottom: 10px; }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

.carouselContainer .img-fluid {
  height: 350px;
  object-fit: cover; }
  @media (min-width: 510px) {
    .carouselContainer .img-fluid {
      height: 450px; } }
  @media (min-width: 768px) {
    .carouselContainer .img-fluid {
      height: 550px; } }
  @media (min-width: 1200px) {
    .carouselContainer .img-fluid {
      height: 600px; } }

.carouselContainer .carouselBox {
  position: relative; }
  .carouselContainer .carouselBox .carouselText {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.3);
    border-radius: 5px; }
    @media (min-width: 510px) {
      .carouselContainer .carouselBox .carouselText {
        top: 78%;
        box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.5); } }
    @media (min-width: 768px) {
      .carouselContainer .carouselBox .carouselText {
        top: 75%;
        padding: 30px;
        font-size: 1.4em;
        box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.9); } }
    .carouselContainer .carouselBox .carouselText h4 {
      text-transform: uppercase;
      font-size: 1.5rem; }
      @media (min-width: 510px) {
        .carouselContainer .carouselBox .carouselText h4 {
          font-size: 1.8rem; } }
      @media (min-width: 768px) {
        .carouselContainer .carouselBox .carouselText h4 {
          font-size: 2.2rem; } }
      @media (min-width: 1200px) {
        .carouselContainer .carouselBox .carouselText h4 {
          font-size: 2.2rem; } }
    .carouselContainer .carouselBox .carouselText hr {
      background-color: white;
      height: 1px; }
      @media (min-width: 510px) {
        .carouselContainer .carouselBox .carouselText hr {
          height: 3px; } }

.productCategoriText p {
  font-size: 1.2rem; }

.indexH3 {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .indexH3 {
      font-size: 1.75rem; } }

.productlist .productContainer {
  margin-bottom: 15px; }
  .productlist .productContainer .imageContainer {
    margin: 15px;
    min-height: 178px;
    max-height: 178px;
    line-height: 178px; }
    @media (min-width: 510px) {
      .productlist .productContainer .imageContainer {
        min-height: 200px;
        max-height: 200px;
        line-height: 200px; } }
    @media (min-width: 600px) {
      .productlist .productContainer .imageContainer {
        min-height: 195px;
        max-height: 195px;
        line-height: 195px; } }
    @media (min-width: 768px) {
      .productlist .productContainer .imageContainer {
        min-height: 290px;
        max-height: 290px;
        line-height: 290px; } }
    @media (min-width: 992px) {
      .productlist .productContainer .imageContainer {
        min-height: 170px;
        max-height: 170px;
        line-height: 170px; } }
    @media (min-width: 1200px) {
      .productlist .productContainer .imageContainer {
        min-height: 215px;
        max-height: 215px;
        line-height: 215px; } }
  .productlist .productContainer img {
    width: 100%; }
  .productlist .productContainer .infoContainer {
    margin: 15px; }
  .productlist .productContainer p {
    padding: 0;
    margin: 0; }
  .productlist .productContainer .pBrand {
    text-transform: uppercase; }
  .productlist .productContainer .pName {
    min-height: 44px;
    max-height: 44px;
    overflow: hidden; }
  .productlist .productContainer .pPrice {
    margin-top: 5px;
    font-size: 1.1rem; }

.inspiration {
  position: relative; }
  .inspiration .inspirationText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: white;
    box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.3);
    border-radius: 5px;
    font-size: 0.8rem; }
    @media (min-width: 510px) {
      .inspiration .inspirationText {
        top: 82%;
        box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.5); } }
    @media (min-width: 768px) {
      .inspiration .inspirationText {
        top: 85%;
        font-size: 1.6rem;
        box-shadow: 0px 0px 35px 4px rgba(160, 150, 5, 0.9); } }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

.productpage {
  text-align: center; }
  .productpage .productleftcontainer .productpageimagecontainer {
    padding: 15px; }
    .productpage .productleftcontainer .productpageimagecontainer img {
      margin-top: 10px;
      width: 85%;
      height: 400px;
      object-fit: contain; }
      @media (min-width: 768px) {
        .productpage .productleftcontainer .productpageimagecontainer img {
          width: 95%; } }
  .productpage .productleftcontainer .productpagethumbnailcontainer .thumbnail {
    margin-right: 20px;
    width: 90px; }
    @media (min-width: 768px) {
      .productpage .productleftcontainer .productpagethumbnailcontainer .thumbnail {
        margin-right: 15px;
        margin-bottom: 50px;
        width: 85px; } }
    @media (min-width: 992px) {
      .productpage .productleftcontainer .productpagethumbnailcontainer .thumbnail {
        margin-right: 25px;
        margin-bottom: 50px;
        width: 105px; } }
    @media (min-width: 1200px) {
      .productpage .productleftcontainer .productpagethumbnailcontainer .thumbnail {
        margin-top: 10px;
        margin-right: 25px;
        margin-bottom: 50px;
        width: 125px; } }
  .productpage .productrightcontainer {
    padding: 15px; }
    .productpage .productrightcontainer #productTitle {
      margin-top: 50px;
      text-transform: uppercase; }
    .productpage .productrightcontainer #productBrand {
      text-transform: uppercase;
      font-size: 1.4rem; }
    .productpage .productrightcontainer #productPrice {
      font-size: 2rem; }
    .productpage .productrightcontainer #productStock {
      margin-top: 35px; }
    .productpage .productrightcontainer #productArtnr {
      margin-top: 25px;
      font-size: 0.8rem; }

#basketObject {
  line-height: 1;
  border-bottom: 1px solid #f3f3f3; }
  #basketObject img {
    width: 80%; }
  #basketObject #basketName {
    text-transform: uppercase; }
  #basketObject #basketBrand {
    text-transform: capitalize; }
  #basketObject #basketRemove {
    display: flex;
    justify-content: space-around;
    font-size: 2rem; }
  #basketObject #basketDecrease {
    margin-right: 5px; }

#modalTotalPriceH5 {
  padding-bottom: 5px;
  padding-right: 30px;
  font-size: 1.2rem;
  text-align: right; }

* {
  font-family: 'Alata', sans-serif; }

.modal-open {
  padding-right: 0px !important;
  overflow-y: scroll; }

header.container-fluid {
  width: auto; }

.checkoutsite {
  margin-top: 15px;
  margin-bottom: 50px; }
  .checkoutsite h2 {
    font-size: 2.5rem; }
  .checkoutsite h3 {
    font-size: 1.8rem;
    margin-top: 12px; }
  .checkoutsite .custom-checkbox {
    display: inline;
    color: white; }
  .checkoutsite .cartbox {
    margin-top: 25px;
    width: 300px;
    height: 300px;
    background-color: #f3f3f3; }
  .checkoutsite .paybox {
    background-color: #f3f3f3; }
