@import 'mixins_colors_general';

header {
    background-color: $bluecolor;
    padding: 15px;
    .form-control {
        @include for-desktop-up {
            width: 80%;
        }
        @include for-big-desktop-up {
            width: 60%;
        }
    }
    #input::placeholder {
        opacity: 0;
        @include for-smaller-desktop-up {
            opacity: 1;
        }
    }
    .logoImage {
        height: auto;
        width: 100%;
        @include for-big-tablet-up {
            width: 80%;
        }
        @include for-small-desktop-up {
            width: 60%;
        }
        @include for-desktop-up {
            width: 50%;
        }
    }
    i {
        color: white;
        font-size: 2rem;
    }
}