// variabler och mixins  
@mixin laptop {
    @media (min-width: $lgscreen){
       @content;}}
@mixin tablet {
    @media (min-width: $mdscreen){ 
        @content; }}
$mdscreen: 760px;
$lgscreen: 996px;

// färger
$blackcolor: black;
$bluecolor: #09283a;
$whitecolor: white;

header {
    .first{
        height: 90px;
        background-color: $bluecolor;
        @include tablet {
        height: 150px;
        }
        .form-inline{
            width: 80px;
                @include tablet {
                }
                @include laptop {
                width: 250px;
                }
            input{
            width: 80px;
                @include tablet {
                width: 100px;
                }
            }
        }
       .btn {
            display: none;
                @include laptop {
                display: inline;
                }
            }
    }   
    .img-fluid{
        height: 35px;
        margin-right: 40px;
        @include tablet {
            margin: 10%;
            height: 100px;
        }
        @include laptop {
            height: 120px;
        }
    }
    .fa-shopping-basket{ 
        color: $blackcolor;
        font-size: xx-large;
        margin-right: 20px;
        @include tablet {
           margin-left: 5%;
        }
        @include laptop {
            margin-left: 10%;
        }
    }
    
}
  
main {
    .img-fluid{
    height: 400px;
    object-fit: cover;
    }
}

.footer{
    padding-top: 15px;
    background-color: $bluecolor;
    font-family: 'Alata', sans-serif;
    color: $whitecolor;
    display: sticky;
    bottom: 0;
    img {
        width: 125px;
        margin-bottom: 10px;
    }
}
  
.checkoutsite{
    color: white;
    margin-top: 40px;
    font-family: 'Alata', sans-serif;
    .custom-checkbox{
        display: inline;
    }
    .cartbox{
        width: 300px;
        height: 300px;
        background-color: grey;
    }
    .paybox{
        background-color: grey;
    }
}



































































@mixin for-big-phone-up {
    @media (min-width: 510px) { @content; }
}
@mixin for-small-tablet-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-big-tablet-up {
    @media (min-width: 768px) { @content; }
}
@mixin for-small-desktop-up {
    @media (min-width: 992px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1600px) { @content; }
}

.productlist {
    .productContainer {
        margin-bottom: 15px;
        .imageContainer {
            margin: 15px;
            min-height: 178px;
            max-height: 178px;
            line-height: 178px;
            @include for-big-phone-up {
                min-height: 200px;
                max-height: 200px;
                line-height: 200px;
            }
            @include for-small-tablet-up {
                min-height: 195px;
                max-height: 195px;
                line-height: 195px;
            }
            @include for-big-tablet-up {
                min-height: 290px;
                max-height: 290px;
                line-height: 290px;
            }
            @include for-small-desktop-up {
                min-height: 170px;
                max-height: 170px;
                line-height: 170px;
            }
            @include for-desktop-up {
                min-height: 215px;
                max-height: 215px;
                line-height: 215px;
            }
        }
        img {
            width: 100%;
        }
        .infoContainer {
            margin: 15px;
        }
        p {
            padding: 0;
            margin: 0;
        }

        .pBrand {
            text-transform: uppercase;
        }

        .pName {
            min-height: 44px;
            max-height: 44px;
            overflow: hidden;
        }
        .pPrice {
            margin-top: 5px;
            font-size: 1.1rem;
        }
    }
}
