
header { 
    width: 100%;
    .img-fluid{
        height: 120px;
        margin-right: 20% ;
    }
    i{ 
        color: black;
        font-size: xx-large;
        margin-right: 5%;
    }
}
  
main {
    img{
    height: 400px;
}   }
.footer{
    background-color: #dfcdc3;
    font-family: 'Alata', sans-serif;
    color: white;
    display: sticky;
    bottom: 0;
}   